@charset "utf-8";
#name, #email, #telephone {
width: 400px;
max-width: 75%;	
margin-top: 10px;
}
#aaform label {
width: 150px;
display: inline-block;
text-align: right;
margin-right: 5px;
margin-top: 10px;	
vertical-align: top;
}
#aaform textarea {
margin-top: 10px;	
width: 400px;
height: 250px;
}
.aatitle {
display:none;
}
#leftdiv {
color: #4a4a4a;
}
#leftdiv h2 {
text-align:center;
}
/* CSS Document */

