{% extends "template.html" %}
{% block styles %}
p {
	text-indent:45px;	
	font-size: 18px;
	margin-top: 15px;
}
.main {
padding-left: 30px;	
padding-right: 30px;	
}
img {
margin: 15px;	
}{% endblock %}
{% block main %}
<h1>About Me</h1>
        	<img src="../static/include/me.jpg" alt="Picture of me" width="250" class="img-circle pull-right">
           <p>My name is Andrew Aaron, I live in Waterloo Ontario and I've been interested in computers and developments for most of my life.  My work experience has been mainly in office work and customer service while web and application development has been a fun hobby and now I am looking to break into the development field.
           </p><p>
           Working at G&K Services I was given the opportunity to go above and beyond by developing some applications to facilitate some of the repetitive tedious tasks that were being done in the office and service department.  G&K Services is a uniform service company and I created an application in VB.NET for the service department that is used with a barcode scanner to do inventory on garments at a customer site.  I created an application for sales tracking and VBA applications with Excel macros used for creating quotes for new and current customers.
           </p><p>
    I am especially interested in application or server side development or front-end coding when a specific design is needed.  I find the most exciting thing about development is reaching goals and achievements on projects that have specific check points.	I would like a chance to work with other like minded developers.  The best type of client would be someone who has great ideas to continue moving the projects forward.  I work hard and I can accomplish what I set my mind to, I'm easy going and goal-oriented.
</p><p>
	I am currently doing a course in web and application development at TriOS College in Kitchener.  This two year program has given me a jump start into the development world by introducing and exploring many different programming languages and development tools. Throughout the program I have become proficient in HTML5, CSS, JavaScript, JQuery, SQL, PHP, Python, Java, C#, ASP.NET, VB.NET/VBA, Linux and Apache, Android, iPhone, and Windows Store App Development as well as Adobe Creative Cloud and Microsoft Office applications.  I am working towards taking Microsoft Certifications in programming and building an online portfolio with websites and applications I've created throughout the course.
    </p><p>
	I'm looking forward to working in a field I'm really interested in and being in an environment where I'm constantly learning new things.  I'm currently working part time as well as being in school in the afternoon.  Beginning in September 2016 I will be available full time.  Please take a look through my portfolio and feel free to contact me.
</p>
{% endblock %}