@charset "utf-8";
#main {
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
}
a {
color: inherit;	
}
a:hover,a:visited,a:link,a:active {
color: inherit;
text-decoration: none;
}
@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
@font-face {
    font-family: 'aa';
    src: url('../fonts/Alisandra Demo.ttf');
    src: url('../fonts/Alisandra Demo.woff') format('woff'),
	url('../fonts/Alisandra Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'nav';
    src: url('../fonts/Niconne-Regular.ttf');
    src: url('../fonts/Niconne-Regular.woff') format('woff'),
	url('../fonts/Niconne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
position: relative;
left: 170px;
top: 150px;	
width: auto;
max-width: 400px;
margin-right: 0px;
position: relative;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1.3;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 999;
    width: 41px;
    height: 41px;
    line-height: 41px;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 16px;
    color: #333333;
    background-color: transparent;
}

.soc a:hover,.soc a.hover {
    z-index: 1000;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'j';
}
.soc-twitter:before {
    content:'a';
}
.soc-github:before {
    content:'Q';
}
.soc-facebook:before {
    content:'b';
}
.soc-email2:before {
    content:'.';
}
.aamainnav ul li {
	margin: auto 15px auto 15px;
	height: 60px;
	list-style-type:none;
}
.aamainnav ul {
height: 60px;
margin: 15px;
}
.aamainnav {
margin-top: 25px;
}
#main {
	height: 750px;
}
.aamainnav a {
	line-height: 40px;
	display: inline-block;
}
.aamainnav li a {
		font-family: nav, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		font-size: 40px;
}
.aamainnav li a:hover {
-webkit-animation: bounce 1s 1;
-o-animation: bounce 1s 1;
-ms-animation: bounce 1s 1;
-moz-animation: bounce 1s 1;
position: relative;
bottom:0px;
   font-weight: 400;
   
 -webkit-stroke-width: 2.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 5px #B885FF;

   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */

}
@keyframes bounce {
	0% {bottom: 0px; }
15% {bottom: 4px; }
30% {bottom: 0px; }
45% {bottom: 2px; }
60% {bottom: 0px; }

}
@-webkit-keyframes bounce {
	0% {bottom: 0px; }
15% {bottom: 4px; }
30% {bottom: 0px; }
45% {bottom: 2px; }
60% {bottom: 0px; }

}

.aamainnav a:hover {
text-decoration: none;	
}
.aatitle {
	margin-top: 100px;
	font-size: 100px;
	font-family:aa,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
footer {
	font-weight:bold;
text-align: center;
font-size: 12px;
bottom: 15px;
width: 100%;
position: fixed;
clear:both;
}
body {
	display:none;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 100%;
	background-image: url(../include/bgimage.svg);
	background-repeat: no-repeat;
	background-position:top right;
	background-size:contain;
	overflow:hidden;
}
.aatitle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  border: none;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0.5px #B885FF;
}

.aatitle::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  width: 100%;
  height: 200%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  overflow: hidden;
  border: none;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
 -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: none;
  -webkit-transform:  scaleY(-1)  ;
  transform:  scaleY(-1)  ;
}

.aatitle::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "Andrew Aaron";
  left: 0;
  border: none;
  top:83px;
  color: rgba(84,84,84,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: none;
  -webkit-transform:  scaleY(-0.5) translateY(-20%) ;
  opacity: 0.2;
  transform:  scaleY(-0.5) translateY(-20%) ;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
}
.aamainlinks {
	float: right;
}
.glyphicon {
color: #b885ff;
font-size: 24px;	
}
#link1 {
    -ms-transform: translate(-210px); /* IE 9 */
   	-webkit-transform: translate(-210px); /* Safari */
    transform: translate(-210px);
-webkit-animation: slidein 500ms 1 ease-out forwards;
-o-animation: slidein 500ms 1 ease-out forwards;
-ms-animation: slidein 500ms 1 ease-out forwards;
-moz-animation: slidein 500ms 1 ease-out forwards;
}
#link2 {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
-webkit-animation: slidein2 500ms 1 500ms ease-out forwards;
-o-animation: slidein2 500ms 1  500ms ease-out forwardst;
-ms-animation: slidein2 500ms 1 500ms ease-out forwards;
-moz-animation: slidein2 500ms 1 500ms ease-out forwards;
}
#link3 {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
-webkit-animation: slidein3 500ms 1 1s forwards ease-out;
-o-animation: slidein3 500ms 1  1s forwards ease-out;
-ms-animation: slidein3 500ms 1 1s forwards ease-out;
-moz-animation: slidein3 500ms 1 1s forwards ease-out;
}
#link4 {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
-webkit-animation: slidein4 500ms 1 1500ms forwards ease-out;
-o-animation: slidein4 500ms 1  1500ms forwards ease-out;
-ms-animation: slidein4 500ms 1 1500ms forwards ease-out;
-moz-animation: slidein4 500ms 1 1500ms forwards ease-out;
}
#link5 {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
-webkit-animation: slidein5 500ms 1 2s forwards ease-out;
-o-animation: slidein5 500ms 1  2s forwards ease-out;
-ms-animation: slidein5 500ms 1 2s forwards ease-out;
-moz-animation: slidein5 500ms 1 2s forwards ease-out;
}
#link6 {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
-webkit-animation: slidein6 500ms 1 2500ms forwards ease-out;
-o-animation: slidein6 500ms 1  2500ms forwards ease-out;
-ms-animation: slidein6 500ms 1 2500ms forwards ease-out;
-moz-animation: slidein6 500ms 1 2500ms forwards ease-out;
}
@keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-200px); /* IE 9 */
   	-webkit-transform: translate(-200px); /* Safari */
    transform: translate(-200px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-275px); /* IE 9 */
   	-webkit-transform: translate(-275px); /* Safari */
    transform: translate(-275px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-310px); /* IE 9 */
   	-webkit-transform: translate(-310px); /* Safari */
    transform: translate(-310px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-340px); /* IE 9 */
   	-webkit-transform: translate(-340px); /* Safari */
    transform: translate(-340px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-350px); /* IE 9 */
   	-webkit-transform: translate(-350px); /* Safari */
    transform: translate(-350px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-350px); /* IE 9 */
   	-webkit-transform: translate(-350px); /* Safari */
    transform: translate(-350px);
	}
}
@-webkit-keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-200px); /* IE 9 */
   	-webkit-transform: translate(-200px); /* Safari */
    transform: translate(-200px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-275px); /* IE 9 */
   	-webkit-transform: translate(-275px); /* Safari */
    transform: translate(-275px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-310px); /* IE 9 */
   	-webkit-transform: translate(-310px); /* Safari */
    transform: translate(-310px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-340px); /* IE 9 */
   	-webkit-transform: translate(-340px); /* Safari */
    transform: translate(-340px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-350px); /* IE 9 */
   	-webkit-transform: translate(-350px); /* Safari */
    transform: translate(-350px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-350px); /* IE 9 */
   	-webkit-transform: translate(-350px); /* Safari */
    transform: translate(-350px);
	}
}

@media screen and (max-width: 1330px) {
body {
	background-size:600px;
}
@keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-115px); /* IE 9 */
   	-webkit-transform: translate(-115px); /* Safari */
    transform: translate(-115px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-190px); /* IE 9 */
   	-webkit-transform: translate(-190px); /* Safari */
    transform: translate(-190px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-225px); /* IE 9 */
   	-webkit-transform: translate(-225px); /* Safari */
    transform: translate(-225px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-235px); /* IE 9 */
   	-webkit-transform: translate(-235px); /* Safari */
    transform: translate(-235px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-245px); /* IE 9 */
   	-webkit-transform: translate(-245px); /* Safari */
    transform: translate(-245px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-245px); /* IE 9 */
   	-webkit-transform: translate(-245px); /* Safari */
    transform: translate(-245px);
	}
}

@-webkit-keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-115px); /* IE 9 */
   	-webkit-transform: translate(-115px); /* Safari */
    transform: translate(-115px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-190px); /* IE 9 */
   	-webkit-transform: translate(-190px); /* Safari */
    transform: translate(-190px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-225px); /* IE 9 */
   	-webkit-transform: translate(-225px); /* Safari */
    transform: translate(-225px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-235px); /* IE 9 */
   	-webkit-transform: translate(-235px); /* Safari */
    transform: translate(-235px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-245px); /* IE 9 */
   	-webkit-transform: translate(-245px); /* Safari */
    transform: translate(-245px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-245px); /* IE 9 */
   	-webkit-transform: translate(-245px); /* Safari */
    transform: translate(-245px);
	}
}
}
@media screen and (max-width: 1240px) {
body {
	background-size:500px;
}
@keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-65px); /* IE 9 */
   	-webkit-transform: translate(-65px); /* Safari */
    transform: translate(-65px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-120px); /* IE 9 */
   	-webkit-transform: translate(-120px); /* Safari */
    transform: translate(-120px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-140px); /* IE 9 */
   	-webkit-transform: translate(-140px); /* Safari */
    transform: translate(-140px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-155px); /* IE 9 */
   	-webkit-transform: translate(-155px); /* Safari */
    transform: translate(-155px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-145px); /* IE 9 */
   	-webkit-transform: translate(-145px); /* Safari */
    transform: translate(-145px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-125px); /* IE 9 */
   	-webkit-transform: translate(-125px); /* Safari */
    transform: translate(-125px);
	}
}
@-webkit-keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-65px); /* IE 9 */
   	-webkit-transform: translate(-65px); /* Safari */
    transform: translate(-65px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-120px); /* IE 9 */
   	-webkit-transform: translate(-120px); /* Safari */
    transform: translate(-120px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-140px); /* IE 9 */
   	-webkit-transform: translate(-140px); /* Safari */
    transform: translate(-140px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-155px); /* IE 9 */
   	-webkit-transform: translate(-155px); /* Safari */
    transform: translate(-155px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-145px); /* IE 9 */
   	-webkit-transform: translate(-145px); /* Safari */
    transform: translate(-145px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-125px); /* IE 9 */
   	-webkit-transform: translate(-125px); /* Safari */
    transform: translate(-125px);
	}
}

}
@media screen and (max-width: 1150px) {
body {
	background-size:400px;
}
@keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(5px); /* IE 9 */
   	-webkit-transform: translate(5px); /* Safari */
    transform: translate(5px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(0px); /* IE 9 */
   	-webkit-transform: translate(0px); /* Safari */
    transform: translate(0px);
	}
}
@-webkit-keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(5px); /* IE 9 */
   	-webkit-transform: translate(5px); /* Safari */
    transform: translate(5px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(0px); /* IE 9 */
   	-webkit-transform: translate(0px); /* Safari */
    transform: translate(0px);
	}
}
}
@media screen and (max-width: 1075px) {
body {
	background-size:550px;
}
.aatitle {
	font-size: 70px;	
}
.soc {
left: 80px;	
top: 120px;
}
@keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-100px); /* IE 9 */
   	-webkit-transform: translate(-100px); /* Safari */
    transform: translate(-100px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-150px); /* IE 9 */
   	-webkit-transform: translate(-150px); /* Safari */
    transform: translate(-150px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-175px); /* IE 9 */
   	-webkit-transform: translate(-175px); /* Safari */
    transform: translate(-175px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-185px); /* IE 9 */
   	-webkit-transform: translate(-185px); /* Safari */
    transform: translate(-185px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-195px); /* IE 9 */
   	-webkit-transform: translate(-195px); /* Safari */
    transform: translate(-195px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-185px); /* IE 9 */
   	-webkit-transform: translate(-185px); /* Safari */
    transform: translate(-185px);
	}
}
@-webkit-keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-100px); /* IE 9 */
   	-webkit-transform: translate(-100px); /* Safari */
    transform: translate(-100px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-150px); /* IE 9 */
   	-webkit-transform: translate(-150px); /* Safari */
    transform: translate(-150px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-175px); /* IE 9 */
   	-webkit-transform: translate(-175px); /* Safari */
    transform: translate(-175px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-185px); /* IE 9 */
   	-webkit-transform: translate(-185px); /* Safari */
    transform: translate(-185px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-195px); /* IE 9 */
   	-webkit-transform: translate(-195px); /* Safari */
    transform: translate(-195px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-185px); /* IE 9 */
   	-webkit-transform: translate(-185px); /* Safari */
    transform: translate(-185px);
	}
}
}
@media screen and (max-width: 1020px) {
body {
	background-size:400px;
}
.aatitle {
	font-size: 70px;	
}
.soc {
left: 80px;	
top: 120px;
}
@keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(5px); /* IE 9 */
   	-webkit-transform: translate(5px); /* Safari */
    transform: translate(5px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(0px); /* IE 9 */
   	-webkit-transform: translate(0px); /* Safari */
    transform: translate(0px);
	}
}
@-webkit-keyframes slidein {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(5px); /* IE 9 */
   	-webkit-transform: translate(5px); /* Safari */
    transform: translate(5px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-45px); /* IE 9 */
   	-webkit-transform: translate(-45px); /* Safari */
    transform: translate(-45px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(-35px); /* IE 9 */
   	-webkit-transform: translate(-35px); /* Safari */
    transform: translate(-35px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translate(350px); /* IE 9 */
   	-webkit-transform: translate(350px); /* Safari */
    transform: translate(350px);
	}
	100% {
    -ms-transform: translate(0px); /* IE 9 */
   	-webkit-transform: translate(0px); /* Safari */
    transform: translate(0px);
	}
}
}
@media screen and (max-width: 900px) {
body {
background-image: url('../include/bgimage2.svg');	
background-position:top left;
background-size: 40%;
}

.aatitle {
	font-size: 70px;	
	display:block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 100px;
}
.soc {

top:40px;
width: 100%;
left: 0;
text-align:center;
max-width:none;	
}
.aamainlinks {
float:none;
width: 100%;
text-align: center;
}

@keyframes slidein {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@keyframes slidein2 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@keyframes slidein3 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@keyframes slidein4 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@keyframes slidein5 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@keyframes slidein6 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@-webkit-keyframes slidein {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@-webkit-keyframes slidein2 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@-webkit-keyframes slidein3 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@-webkit-keyframes slidein4 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@-webkit-keyframes slidein5 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
@-webkit-keyframes slidein6 {
	0% {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
	}
	100% {
    -ms-transform: translateY(0px); /* IE 9 */
   	-webkit-transform: translateY(0px); /* Safari */
    transform: translateY(0px);
	}
}
#link2,#link3,#link4,#link5,#link6 {
    -ms-transform: translateY(650px); /* IE 9 */
   	-webkit-transform: translateY(650px); /* Safari */
    transform: translateY(650px);
}
}
@media screen and (max-width: 525px) {
	.aatitle {
		font-size: 45px;
		display:block;
		white-space:nowrap;
	}
	.aatitle::after {
		top:55px;
	}
	ul {
		padding:0px;
	}
	.aamainnav li a{
	font-size:24px;
	line-height:24px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	.aamainnav ul li {
	height: 40px;	
	}
	.soc li {
	zoom:1;
	}
}