@charset "utf-8";
.navbar-nav {
	background-color: #20501a;
width: 100%;
    text-align:center;
}
.navbar-default .navbar-nav>li {
display:inline-block;
float:none;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:focus {
color: white;
font-weight: bold;
font-size: 15px;
margin-left: 20px;
margin-right: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
color: #20501a;	
background-color: #3dc21b;

}
.topbar {
margin-top: 15px;
margin-bottom: 25px;	
color: #3dc21b;
font-weight: bold;
font-size: 18px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
		color: #3dc21b;
		background-color: #20501a;
}
.aatext {
display: inline-block;
margin-left: 30px;
margin-top: 10px;	
width: auto;
}
.aatext a {
	color: #20501a;
}

@media screen and (max-width:1109px){
	.navbar-default .navbar-nav>li>a {
font-size: 12px;
margin-left: 0px;
margin-right: 0px;
}
}
@media screen and (max-width: 768px) {
	.navbar-default .navbar-nav>li {
	width: 100%;	
	}
		.navbar-default .navbar-nav>li>a {
font-size: 16px;
width: 100%;
	}
			.navbar-default {
background-color: 	#20501a;
			}
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.secondnav hr {
margin-top: 0px;
margin-bottom: 4px;
border-color: #3dc21b;
}
.secondnav {
background-color: #20501a;
margin-bottom: 20px;
}
.secondnav a,.secondnav li a:focus {
color: white;
font-weight: bold;
background-color: #20501a;
}
.secondnav li a:hover,.secondnav .active a,.secondnav .active a:focus {
color: #3dc21b;	
background-color: #20501a;
}
.aacontent { 
background-color:#ecece4;
padding: 10px;
position: relative;
display:table;
height: 100%;
}
.slidein {
position: relative;
width: 96%;
height: 100%;
top: 0;
left: 0;	
display:none;
}
#content1,#content2,#content3,#content4,#content5,#content6 {
display:block;
}
footer {
margin-top: 15px;	
border-top: 1px #20501a solid;
font-size: 12px;
width: 95%;
}
footer h4 {
display: block;
text-align:center;
height: 20px;	
font-size: 12px;
font-weight: bold;
}
footer .col-xs-2 {
text-align: center;	
}
.aamain {
background-color: #ecece4;
margin: 15px;
}
.aasmall {
width: 95%;	
margin-left: auto;
margin-right: auto;
}
.example-right {
  position:relative;
  padding:15px 30px;
  margin:0;
  color:#fff;
  background:#5a8f00; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#3dc21b), to(#20501a));
  background:-moz-linear-gradient(#3dc21b, #20501a);
  background:-o-linear-gradient(#3dc21b, #20501a);
  background:linear-gradient(#3dc21b, #20501a);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  font: 1em/1.4 Cambria, Georgia, sans-serif;
  font-size: 22px;
  margin: 10px;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
  content:"";
  position:absolute;
  bottom:-50px;
  left:50px;
  border-width:0 20px 50px 0px;
  border-style:solid;
  border-color:transparent #20501a;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
p {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 16px;
margin-top: 20px;
}
.aagroup {
font-size: 18px;
text-align: center;
}
.aamain hr {
color: #20501a;
border: 1px solid;
}
.orange {
	color:#fc7b0a;
	font-weight: bold;
}
#booknow {
	margin-left: 5px;
	color: #20501a;
	font-size: 40px;
-webkit-text-stroke: 0.2px black;
  text-shadow: 2px 2px 0 #000,
 -1px -1px 0 #000, 
 1px -1px 0 #000,
 -1px 1px 0 #000,
 1px 1px 0 #000;
}
.booknow {
	padding: 10px;
display:block;
margin: 15px;
border-radius:15px;
max-width: 500px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3cc11b+0,ecece4+23,ecece4+75,3cc11b+100 */
border: #AFAF8D 2px solid;
background: #3cc11b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #3cc11b 0%, #ecece4 23%, #ecece4 75%, #3cc11b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3cc11b), color-stop(23%,#ecece4), color-stop(75%,#ecece4), color-stop(100%,#3cc11b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #3cc11b 0%,#ecece4 23%,#ecece4 75%,#3cc11b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #3cc11b 0%,#ecece4 23%,#ecece4 75%,#3cc11b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #3cc11b 0%,#ecece4 23%,#ecece4 75%,#3cc11b 100%); /* IE10+ */
background: linear-gradient(135deg, #3cc11b 0%,#ecece4 23%,#ecece4 75%,#3cc11b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cc11b', endColorstr='#3cc11b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.booknow label {
display: inline-block;
text-align: right;
width: 150px;
margin-right: 15px;
}
.booknow textarea {
height: 140px;	
width: 90%;
margin-left: 20px;
}
#accordion div {
height: 200px;	
}
#accordion {
width: 100%;	
}
#accordion h3 {
color: #20501a;
border: solid 1px #3dc21b;	
}
.aapromo {
width: 380px;
height: 100px;
border-radius: 15px;
padding: 10px;
text-align: center;
color: #20501a;
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 49%, #20501a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(49%,#ffffff), color-stop(100%,#20501a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 49%,#20501a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #ffffff 49%,#20501a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #ffffff 49%,#20501a 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #ffffff 49%,#20501a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#20501a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.aapromo strong {
color: #fc7b0a;
}
.aathumb {
text-align: center;
float: left;	
width: 170px;
font-size: 12px;
background-color: white;
margin: 8px;
padding: 8px;
font-weight: bold;
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
figcaption {
margin-top: 4px;	
}
.aathumb img {
	width: 160px;
	height: auto;
}